body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}



.top-nav{
    display: flex;
    flex-direction: row;
}

.top-nav .header {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.top-nav .form {
    align-content: flex-start;
    margin: 20px auto;
    text-align: left;
    width: 400px;
}

.form {
    align-content: center;
    margin: 20px auto;
    text-align: center;
    width: 400px;
}

.label {
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    width: 150px;
    text-align: right;
}

.input {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
}

.button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.messages {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

.link {
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #0056b3;
    color: #fff;
}

.panelGrid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
